/* in css of look and feel */

#alert {
	background: pink;
	padding: .4em;
	margin-bottom: 1em;
    color: red;
    border: solid  red 0.5px;
	text-align: center;
	font-size: smaller;
    cursor:pointer;
    display: none
    }