/* Extra styling on Qualtrics in css of look and feel - 
    also includes individual components:
    continuealert, copytoclipboard, ethicscontainers, gert, progressbar
*/

/* remove language selector 
- use js to show on first page of survey */
.LanguageSelectorContainer {
	display: none;
}

/* white logo container */
#LogoContainer {
	background-color: rgb(253, 254, 255) !important;
}

/* formatting issue with the continue button 
- use with jQuery remove plug */
#Buttons {
	width: 80%;
}

/* removing excessive spacing */
#HeaderContainer {
	display: none !important;
}

/* make text inputs fill the whole width on larger screens */
.InputText {
	width: 100%;
}

/* larger centered text around the motivational images - 
need to ensure the text is wrapped in p tag with this classname*/
.gif {
	text-align: center;
	font-size: larger;
}
/* motivational images responsive to screen width */
img {
	max-width: 100% !important;
}
